# Python build artifacts
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Virtual environment
octmnist/
.venv/
env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyTorch model files (if too large for GitHub)
saved_model/*.pt
